html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#menu
{
   display: -webkit-flex;
   display: flex;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 7777;
   padding: 5px 10px 5px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin: 0;
   background-color: rgba(0,0,0,0.96);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_cover
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 56px 0px 0px 0px;
}
#cover
{
   box-sizing: border-box;
   padding: 0px 15px 90px 15px;
   margin-right: auto;
   margin-left: auto;
}
#cover > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#cover > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#cover > .row > .col-1
{
   float: left;
}
#cover > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#cover:before,
#cover:after,
#cover .row:before,
#cover .row:after
{
   display: table;
   content: " ";
}
#cover:after,
#cover .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#cover > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_gallery
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0px 0px 50px 0px;
}
#gallery
{
   box-sizing: border-box;
   padding: 0px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
}
#gallery > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#gallery > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#gallery > .row > .col-1
{
   float: left;
}
#gallery > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#gallery:before,
#gallery:after,
#gallery .row:before,
#gallery .row:after
{
   display: table;
   content: " ";
}
#gallery:after,
#gallery .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#gallery > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(0,0,0,0.88);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0px 0px 20px 0px;
   text-align: center;
}
#wb_Text1
{
   color: #000000;
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 37px;
   line-height: 42.5px;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   display: block;
   margin: 0px 0px 20px 0px;
   box-sizing: border-box;
   width: 100%;
}
#PhotoGallery1
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 25px 50px 0px 50px;
}
#PhotoGallery1 .thumbnails
{
   margin: 0;
   font-size: 0;
}
#PhotoGallery1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   display: inline-block;
   margin: 0;
   padding: 0;
   width: 20%;
   text-align: center;
   vertical-align: middle;
}
#PhotoGallery1 .caption
{
   color: #FFFFFF;
   font-family: Berylium;
   font-weight: bold;
   font-size: 21px;
   font-style: normal;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 10px 5px 10px;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   align-items: center;
   -webkit-transition: all 300ms linear;
   transition: all 300ms linear;
}
#PhotoGallery1 .description
{
   color: #000000;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery1 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery1 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery1 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
}
#PhotoGallery1-filter
{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 30px;
}
#PhotoGallery1-filter a
{
   color: #0A788B;
   cursor: pointer;
   display: block;
   font-family: Berylium;
   font-weight: normal;
   font-size: 24px;
   font-style: normal;
   padding: 0px 10px 0px 10px;
   position: relative;
   text-decoration: none;
}
#PhotoGallery1-filter a:not(:last-child)
{
   margin-right: 14px;
}
#PhotoGallery1-filter a.active
{
   color: #800080;
}
#PhotoGallery1-filter a:hover
{
   color: #4B0082;
}
#PhotoGallery1-filter a:before
{
   background-color: transparent;
   bottom: 0;
   content: " ";
   display: block;
   height: 3px;
   left: 0;
   position: absolute;
   -webkit-transition: 300ms;
   transition: 300ms;
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
   width: 100%;
   z-index: 2;
}
#PhotoGallery1-filter a.active:before,
#PhotoGallery1-filter a:hover:before
{
   background-color: #800080;
}
#wb_Picture1
{
   margin: 5px 0px 5px 90px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Picture1
{
   border: 0px solid transparent;
   padding: 5px 0px 5px 0px;
   display:inline-block;
   width: 184px;
   height: auto;
}
#wb_CssMenu5
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0px 0px 0px 20px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-align-self: auto;
   align-self: auto;
   text-align: center;
   z-index: 1111 !important;
}
#wb_CssMenu5 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu5 li
{
   float: left;
   margin: 0;
   padding: 0px 10px 0px 0px;
}
#wb_CssMenu5 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   height: 40px;
   line-height: 40px;
   padding: 0px 10px 0px 10px;
   vertical-align: middle;
   text-align: center;
}
#wb_CssMenu5 li:hover a, #wb_CssMenu5 a:hover
{
   color: #FFFFFF;
   border: 0px solid #7F1823;
   background-color: transparent;
   background-image: none;
}
#wb_CssMenu5 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu5 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu5 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1280px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_welcome
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 25vh;
   background-color: rgba(0,0,0,0.88);
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
}
#welcome
{
   box-sizing: border-box;
   height: 25vh;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1000px;
}
#welcome > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#welcome > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#welcome > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 100%;
   max-width: 100%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: center;
   -webkit-align-self: stretch;
   -webkit-align-items: center;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#wb_welcome, #welcome
{
   height: auto;
}
#welcome > div[class^="col-"]
{
   height: 25vh;
}
#welcome > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(0,0,0,0.85);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#Footer
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#Footer > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#Footer > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#Footer
{
   width: 1000px;
}
#Footer > .row > .col-1
{
   float: left;
}
#Footer > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#Footer:before,
#Footer:after,
#Footer .row:before,
#Footer .row:after
{
   display: table;
   content: " ";
}
#Footer:after,
#Footer .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#Footer
{
   width: 100%;
}
#Footer > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#wb_Text9
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_about_me 
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   padding: 0px 300px 0px 300px;
   margin: 0;
   text-align: justify;
}
#wb_about_me div
{
   text-align: justify;
}
#wb_about_me
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#welcomeButton
{
   box-sizing: border-box;
   line-height: 43px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #053C45;
   border-radius: 4px;
   background-color: #0A788B;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 1px 6px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Vimeo1
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image2
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 2;
}
#wb_Picture1
{
   display: block;
   width: 184px;
   z-index: 0;
}
#wb_PhotoGallery1
{
   display: inline-block;
   width: calc(100% - 100px);
   z-index: 4;
}
#wb_Vimeo1
{
   display: inline-block;
   width: 940px;
   height: 705px;
   z-index: 5;
}
#welcomeButton
{
   display: inline-block;
   width: 214px;
   height: 52px;
   z-index: 7;
}
#wb_CssMenu5
{
   display: inline-block;
   height: 40px;
   z-index: 1;
}
@media only screen and (max-width: 999px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#menu
{
   visibility: visible;
   display: flex;
}
#menu
{
   margin: 0;
   padding: 5px 10px 5px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#wb_cover
{
   visibility: visible;
   display: table;
}
#wb_cover
{
   margin-top: 56px;
   margin-bottom: 0px;
}
#cover
{
   padding: 0px 15px 90px 15px;
}
#cover .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#cover > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#cover > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_gallery
{
   visibility: visible;
   display: table;
}
#wb_gallery
{
   margin-top: 0px;
   margin-bottom: 50px;
}
#gallery
{
   padding: 0px 15px 100px 15px;
}
#gallery .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#gallery > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#gallery > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 20px 0px 20px 0px;
   padding: 0;
}
#wb_PhotoGallery1
{
   width: calc(100% - 81px);
   visibility: visible;
   display: block;
   margin: 25px 80px 0px 1px;
   color: #FFFFFF;
}
#PhotoGallery1 .thumbnail
{
   width: 50%;
}
#wb_Picture1
{
   width: 140px;
   height: 39px;
   visibility: visible;
   display: inline;
   margin: 5px 0px 5px 60px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
   padding: 5px 0px 5px 0px;
}
#Picture1
{
   width: 140px;
   height: 39px;
}
#wb_CssMenu5
{
   visibility: visible;
   display: inline-block;
   margin: 0px 0px 0px 20px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-align-self: auto;
   align-self: auto;
   text-align: center;
}
#wb_CssMenu5 li
{
}
#wb_CssMenu5 a
{
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   height: 40px;
   line-height: 40px;
   text-align: center;
}
#wb_CssMenu5 li:hover a, #wb_CssMenu5 a:hover
{
   color: #FFFFFF;
   border: 0px solid #7F1823;
   background-color: transparent;
   background-image: none;
}
#wb_Image2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_welcome
{
   visibility: visible;
   display: table;
   background-color: rgba(0,0,0,0.88);
   background-image: none;
}
#wb_welcome
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#welcome
{
   padding: 0;
}
#welcome > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#welcome > .col-1
{
   display: flex;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   -webkit-align-content: center;
   -webkit-align-items: center;
   align-content: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#wb_Footer
{
   visibility: visible;
   display: table;
}
#wb_Footer
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#Footer
{
   padding: 10px 15px 10px 15px;
}
#Footer .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#Footer
{
   width: 100%;
}
#Footer > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#Footer > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Text9
{
   visibility: visible;
   display: block;
   box-shadow: 0px 0px 0px #000000;
}
#wb_Text9
{
   margin: 0;
   padding: 0;
}
#wb_about_me
{
   visibility: visible;
   display: block;
}
#wb_about_me
{
   margin: 0;
   padding: 0px 150px 0px 150px;
}
#welcomeButton
{
   width: 214px;
   height: 52px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 1px 1px 6px 6px;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
#welcomeButton
{
   line-height: 43px;
}
}
